In [1]:
import pandas as pd

In [10]:
dataFrame = pd.read_excel("pandasExcel.xlsx")

exceli oku

In [4]:
dataFrame

  Unnamed: 0  Maaş   Yaş  Departman
0       Atıl   100  30.0    Yazılım
1     Zeynep    50  29.0      Satış
2     Mehmet    30  40.0        NaN
3      Ahmet    50  50.0  Pazarlama
4      Atlas    40   NaN     Finans
5      Fatma    90  25.0      Hukuk

In [6]:
doluDegerlerDataFrame = dataFrame.dropna()

In [7]:
doluDegerlerDataFrame

  Unnamed: 0  Maaş   Yaş  Departman
0       Atıl   100  30.0    Yazılım
1     Zeynep    50  29.0      Satış
3      Ahmet    50  50.0  Pazarlama
5      Fatma    90  25.0      Hukuk

In [9]:
doluDegerlerDataFrame.to_excel("pandasExcel.xlsx")

değişikliği excele yaz

excel csv formatında ise
okumak için : read_csv
yazmak için : to_csv